header {
    background: skyblue;
    padding: 20px;
}
.caixa {
    width: 940px;
    position: relative;
    margin: 0 auto;
}
nav {
    position: absolute;
    top: 70px;
    right: 0;
}
nav  li{
    display: inline;
    margin: 0 0 0 16px;
    
}
nav a{
    text-transform: uppercase;
    color: rgb(37, 28, 54);
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

main {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px;

}

form label {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

form input{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
}

footer {
    text-align: center;
     background: skyblue;   
     padding: 30px;
}
.texto-rodape {
    font-size: 13px;
    margin: 20px;
}